**/__pycache__
tests/contracts/ERC20.sol
tests/test.py
tests/old/*
crytic-export/*
analysis/*
tools/*
naga/core copy/
tests/run_naga_test.py
tests/contracts/*
tests/slither_test.py
tests/module_test.py
tests/detection_test.py
